<header class="intro-header">
  <div class="container text-center">
    <h1>modelDown</h1>
    <p class="lead">Explore your model!</p>
  </div>
</header>


<br>
<br>

<div class="row">
  <div class="col-md-8">
    <h3 class="my-3">Basic data information</h3>
    <ul>
      <li>{{observations_count}} observations</li>
      <li>{{columns_count}} columns</li>
    </ul>
  </div>
  <div class="col-md-4" >
    <h3 class="my-3">Explainers</h3>
      {{{explainers}}}
  </div>
</div>

<hr>


<div class="text-center">
  <h3 class="my-3">Summaries for numerical variables</h3>
  <br>
  {{{data_summary}}}
  <hr>
  {{#factor_summary}}
    <h3 class="my-3">Summaries for categorical variables</h3>
    {{{factor_summary}}}
  {{/factor_summary}}
</div>

<br>
<br>
